<div class="headerContainer">
  <div class="headerLeft">
    <img
      class="presidioLogo"
      src="../../../assets/presidiologo.png"
      alt="Presidio"
    />
  </div>
  <div class="headerCenter">
    <span class="headerCenterContent">CONSULTANT PROFILE</span>
  </div>
  <div class="headerRight">
    <mat-icon
      fontSet="material-icons-outlined"
      [matMenuTriggerFor]="menu"
      class="headerRightNotificationIcon"
    >
      notifications
    </mat-icon>
    <div class="headerRightContent">Consultant</div>
    <div class="headerRightLogout">
        <img src="../../../assets/box-arrow-left.png" class="headerRightLogoutIcon" alt="logout">
      <!-- <mat-icon class="headerRightLogoutIcon">logout </mat-icon> -->
      <div class="headerRightLogoutContent">Logout</div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="profileDetails">
    <span class="profileDetail">Basic Info</span>
    <span class="profileDetail">Executive Summary</span>
    <span class="profileDetail">Skills overview</span>
    <span class="profileDetail">Professional Profile</span>
    <span class="profileDetail">Areas of expertise</span>
    <span class="profileDetail">Relavant experience</span>
    <span class="profileDetail">Certifications</span>
  </div>
</div>

<mat-menu #menu="matMenu" xPosition="before">
  <app-notification></app-notification>
</mat-menu>
