/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@media (max-width: 1265px) {
  html {
    font-size: 88%;
  }
}
@media (max-width: 1112px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 1012px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 950px) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 890px) {
  html {
    font-size: 65%;
  }
}
@media (max-width: 825px) {
  html {
    font-size: 95%;
  }
  
}